@page "/addcountry"
@inject NavigationManager NavigationManager
@inject ICountryActions CountryActions
@if (country != null)
{
    <EditForm Model="country" OnValidSubmit="Submit">
        <DataAnnotationsValidator></DataAnnotationsValidator>
        <ValidationSummary></ValidationSummary>
        <div class="from-group">
            <label style="font-family: 'Bookman Old Style'" for="name">CountryName</label>
            <InputText id="name" @bind-Value="country.CountryName" class="form-control"></InputText>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-primary" @onclick="Cancel">Cancel</button>
    </EditForm>
}

@code {
    private Country country;

    protected override void OnInitialized()
    {
        country = new Country();
    }

    private void Submit()
    {
        CountryActions.Add(country);
        NavigationManager.NavigateTo("/country");
    }
    private void Cancel()
    {
        NavigationManager.NavigateTo("/country");
    }
}
