@page "/addpeople"
@*@attribute [Authorize(Policy = "CashierOnly")]
@using Microsoft.AspNetCore.Authorization;
@using WrbApp.Data;

@inject WeatherForecastService weatherService*@

<h3>AddPeople</h3>
@*
@if (roles != null)
{
	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Name</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in roles)
			{
				<tr>
					<td>@item.Key</td>
					<td>@item.Value</td>
				</tr>
			}
		</tbody>
	</table>
}	


@code {

	Dictionary<string, string> roles = new Dictionary<string, string>();

	protected override async Task OnInitializedAsync()
	{
		await weatherService.GetAllRoles();
		roles = weatherService.MyRoles;
		StateHasChanged();
	}

}*@