@page "/"


<div class="two-box">
	<div class="image-box">
		<img  src="images/market.jpg"/>
	</div>
	<div class="text-box">
		<h1>Supermarket Managment System</h1>
		<p>Follow me to create a project with ASP.NET Core Blazor (server side), Entity Framework Core, SQL Server, Use case driven development and Clean Architecture. We will secure the web app with ASP.NET Core Identity for Authentication and Authorization as well</p>
		<div class="buttons">
			<AuthorizeView>
				<NotAuthorized>
					
					<div class="reg">
						<a  href="Identity/Account/Register" >Register</a>
						</div>
					<div class="log">
						<a  href="Identity/Account/Login">Log in</a>
					</div>
				</NotAuthorized>
			</AuthorizeView>
		</div>
	</div>
</div>

