.login-input p {
    font-size: 20px;
    margin-bottom: -1px;
    font-weight: bold;
}

.login-input input {
    width: 100%;
    margin-bottom: 3px;
}

.passwords {
    display: flex;
    margin-bottom: 25px;
}   
.passwords .first-password .a {
    font-size: 14px;       
    font-weight: bold;
    margin-bottom: -1px;
}
.passwords .first-password input {
    width: 230px;
    margin-right: 6px;
}
.passwords .second-password .a {
    font-size: 14px;
    margin-bottom: -1px;
    font-weight: bold;
}
.passwords .second-password input {
    width: 230px;
    margin-left: 6px;
}

.p{ 
    font-size: 18px;
    font-weight: bold;
}

.rol {
    display: flex;
    margin-bottom: 5px;
}

.rol input {
    width: 20px;
    height:  20px;
}

.rol .q {
    margin-left: 5px;
    margin-top: -5px;
    margin-bottom: 0px;
    font-size: 16px;
}
    